* {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(28, 28, 28);
    position: fixed;
    width: 100vw;
}

header,
a,
#banner h2 {
    color: white;
}

ul {
    display: flex;
}

li,
h1 {
    padding: 1rem;
}

li.end {
    margin-right: 1rem;
}

h1,
span {
    font-size: large;
}

a {
    text-decoration: none;
}

#banner {
    background: linear-gradient(to left, transparent, rgb(28, 28, 28)), url(./pexels-pixabay-270348.jpg);
    height: 50vh;
}

#banner h2 {
    padding: 20vh 0 0 20vw;
    justify-content: center;
}

.presentation {
    display: flex;

}

img {
    border: solid 1px transparent;
    border-radius: 50%;
    margin: 2vh;
}

.text {
    border: solid 4px yellowgreen;
}

.text h2,
.text p {
    padding: 1rem;
}

.text h2 {
    text-align: center;
    font-size: 1.5rem;
    border: solid 4px yellowgreen;
}